.vertical-center {
	min-height: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
}

.container {
	margin-top: 30px;
	margin-bottom: 30px;
}

form#daily-session-form label {
	font-weight: bolder;
}

form#daily-session-form > div {
	padding: 20px;
	border: 1px solid #9c9c9c;
	border-radius: 5px;
}

@media (min-width: 576px) {
	form#daily-session-form .heading {
		margin-bottom: 30px;
	}
}
